@font-face {
    font-family: "Satoshi-Bold";
    src:
      url("../fonts/Satoshi-Bold/Satoshi-Bold.ttf") format("truetype"),
      url("../fonts/Satoshi-Bold/Satoshi-Bold.woff") format("woff");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Satoshi";
    src:
      url("../fonts/Satoshi-Regular/Satoshi-Regular.ttf") format("truetype"),
      url("../fonts/Satoshi-Regular/Satoshi-Regular.woff2") format("woff2"),
      url("../fonts/Satoshi-Regular/Satoshi-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

:root {
    --bs-body-font-family: "Satoshi", system-ui, sans-serif;
    --bs-heading-font-family: "Satoshi-Bold", sans-serif;
}

.page-title {    
    font-family: var(--bs-heading-font-family);
    font-size: 3rem;
    font-weight: 800;
    font-style: normal;
}

.site-title {
    font-family: var(--bs-heading-font-family);
    font-weight: bold;
    color: #333;
}

.bg-dark {
    background-color: #d1d1c5 !important;
}

.btn-primary {
    --bs-btn-bg: #8f5770;
    --bs-btn-hover-bg: #704357;
    --bs-btn-border-color: #d1d1c5;
    --bs-btn-hover-border-color: #d1d1c5;
    --bs-btn-active-bg: #d1d1c5;
    --bs-btn-active-border-color: #d1d1c5;
}

.btn-secondary {    
    --bs-btn-bg: #b57491;
    --bs-btn-hover-bg: #8f5770;
    --bs-btn-border-color: #d1d1c5;
    --bs-btn-hover-border-color: #d1d1c5;
    --bs-btn-active-bg: #d1d1c5;
    --bs-btn-active-border-color: #d1d1c5;
}

.btn-info {
    --bs-btn-bg: #6c8f57;
    --bs-btn-hover-bg: #5a32a3;
    --bs-btn-border-color: #d1d1c5;
    --bs-btn-hover-border-color: #d1d1c5;
    --bs-btn-active-bg: #d1d1c5;
    --bs-btn-active-border-color: #d1d1c5;
}

body {
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: scroll;
    background-color: #f2f2e4;
    font-family: var(--bs-body-font-family);
}

h1, h2, h3, h4, h5 {
    font-family: var(--bs-heading-font-family);
}

/* Overrides sizing for mobile */
@media (max-width: 768px) {
    .jumbotron .page-title {
        font-size: 2.4rem;
    }
}
